body{
    background-color: darkcyan;
}
.table{
    width: 50%;
    display: flex;
    justify-content: left;
    text-align: center;
    

}

  th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    width: 50%;
  }
  .container{
      box-sizing: border-box;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: start;
      width: 50%;

  }
  .submit{
      display: flex;
      justify-content: center;
      width: 50%;
      background-color: black;
      color:white;
  }
  .submit:hover{
      background-color: salmon;
  }
  .r-btn{
      display: flex;
      justify-content:start;
      margin-top: 5%;
      margin-bottom: 5%;
  }
